{%extends 'base.html'%}
{%load custom_filters%}
{%block title%}Shopping Bag{%endblock%}

{%block content%}
{%if cart_items %}
<!-- New Cart Style -->
<div class="font-sans max-w-4xl max-md:max-w-xl mx-auto p-4">
  <h1 class="text-2xl font-bold text-gray-800">Your Bag</h1>
  <div class="grid md:grid-cols-3 gap-4 mt-8">
    <div class="md:col-span-2 space-y-4">
      <!-- product 1 -->
      {%for item in cart_items%}
      <div class="flex bg-white px-4 py-6 rounded-md shadow-[0_2px_12px_-3px_rgba(61,63,68,0.3)]">
        <div class="flex gap-4">
          <!-- Product Image -->
          <div class="md:w-4/12 2xl:w-1/4 w-50 h-50 bg-cover">
            <img src="{{item.item.product.productimage_set.first.image.url}}" alt="Black Leather Purse"
              class="h-full object-center object-cover bg-cover md:block hidden" />
            <img src="{{item.item.product.productimage_set.first.image.url}}" alt="Black Leather Purse"
              class="md:hidden w-full h-full bg-cover object-center " />
          </div>
          <!-- Product Details -->
          <div class="flex flex-col ">
            <div>
              <div class="flex flex-row justify-between ">
                <!-- Product Name -->
                <div><a href="{% url 'product_detail' item.item.product.id %}"
                    class="text-base font-black leading-none text-gray-800">{{item.item.product.name}}</a>
                </div>
                <!-- Add to favorite and remove from cart buttons -->
                <div class="flex items-start gap-4 justify-end">
                  <a href="#"><svg xmlns="http://www.w3.org/2000/svg"
                      class="w-4 h-4 cursor-pointer fill-gray-400 hover:fill-pink-600 inline-block" viewBox="0 0 64 64">
                      <path
                        d="M45.5 4A18.53 18.53 0 0 0 32 9.86 18.5 18.5 0 0 0 0 22.5C0 40.92 29.71 59 31 59.71a2 2 0 0 0 2.06 0C34.29 59 64 40.92 64 22.5A18.52 18.52 0 0 0 45.5 4ZM32 55.64C26.83 52.34 4 36.92 4 22.5a14.5 14.5 0 0 1 26.36-8.33 2 2 0 0 0 3.27 0A14.5 14.5 0 0 1 60 22.5c0 14.41-22.83 29.83-28 33.14Z"
                        data-original="#000000"></path>
                    </svg></a>

                  <a href="{%url 'remove-from-cart' item.item.product.id item.id %}"><svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="w-4 h-4 cursor-pointer fill-gray-400 hover:fill-red-600 inline-block" viewBox="0 0 24 24">
                      <path
                        d="M19 7a1 1 0 0 0-1 1v11.191A1.92 1.92 0 0 1 15.99 21H8.01A1.92 1.92 0 0 1 6 19.191V8a1 1 0 0 0-2 0v11.191A3.918 3.918 0 0 0 8.01 23h7.98A3.918 3.918 0 0 0 20 19.191V8a1 1 0 0 0-1-1Zm1-3h-4V2a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v2H4a1 1 0 0 0 0 2h16a1 1 0 0 0 0-2ZM10 4V3h4v1Z"
                        data-original="#000000"></path>
                      <path d="M11 17v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Zm4 0v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Z"
                        data-original="#000000"></path>
                    </svg></a>
                </div>
              </div>
              <!-- Color and Size -->
              {%for varient in item.item.product.variants.all%}
              <p class="text-sm font-semibold text-gray-500 mt-2 flex items-center gap-2">Color: {{varient.color}}</p>
              {%endfor%}
              <p class="text-sm font-semibold text-gray-500 mt-2 flex items-center gap-2">Size: {{item.size}}</p>
            </div>
            <!-- Quantity and price-->
            <div class="flex flex-row justify-between items-center">
              <!-- Quantity -->
              <div class="mt-2 flex items-center flex-row gap-3">
                <label class="text-sm font-semibold text-gray-500 flex items-center gap-2">Quantity :</label>
                <form action="{%url 'update-cart' item.id%}" method="POST">
                  {%csrf_token%}
                <div class="relative w-30">
                  <button id="decreaseButton"
                    class="absolute right-9 top-1 rounded bg-slate-800 p-1.5 border border-transparent text-center text-sm text-white transition-all shadow-sm hover:shadow focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                    type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                      <path d="M3.75 7.25a.75.75 0 0 0 0 1.5h8.5a.75.75 0 0 0 0-1.5h-8.5Z" />
                    </svg>
                  </button>
                  <input id="amountInput" type="number" value="{{item.quantity}}" name="quantity"
                    class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md pl-3 pr-20 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow appearance-none [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none" />
                  <button id="increaseButton"
                    class="absolute right-1 top-1 rounded bg-slate-800 p-1.5 border border-transparent text-center text-sm text-white transition-all shadow-sm hover:shadow focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                    type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                      <path
                        d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z" />
                    </svg>
                  </button>
                </div>
              </form>
              </div>
              <!-- Price -->
              <div class="">
                
                <h3 class="text-sm sm:text-base font-bold text-green-800 mt-auto">${{item.get_item_price }}
                </h3>
                
              </div>
            </div>

          </div>
        </div>
        
      </div>
      {%endfor%}
    </div>
    <!-- Total prices -->
    <div class="bg-white rounded-md px-4 py-6 h-max shadow-[0_2px_12px_-3px_rgba(61,63,68,0.3)]">
      <ul class="text-gray-800 space-y-4">
        <li class="flex flex-wrap gap-4 text-sm">Subtotal <span class="ml-auto font-bold">${{cart.get_total_price}}</span></li>
        <li class="flex flex-wrap gap-4 text-sm">Shipping <span class="ml-auto font-bold">$2.00</span></li>
        <li class="flex flex-wrap gap-4 text-sm">Tax <span class="ml-auto font-bold">$4.00</span></li>
        <hr class="border-gray-300" />
        <li class="flex flex-wrap gap-4 text-sm font-bold">Total <span class="ml-auto">$206.00</span></li>
      </ul>
      <!-- CTA Buttons -->
      <div class="mt-8 space-y-2">
        <button type="button"
          class="text-sm px-4 py-2.5 w-full font-semibold tracking-wide bg-gray-800 hover:bg-gray-900 text-white rounded-md">Buy
          Now</button>
        <button type="button"
          class="text-sm px-4 py-2.5 w-full font-semibold tracking-wide bg-transparent hover:bg-gray-100 text-gray-800 border border-gray-300 rounded-md">Continue
          Shopping </button>
      </div>
      <!-- Payment Icons -->
      <div class="mt-4 flex flex-wrap justify-center gap-4">
        <img src='https://readymadeui.com/images/master.webp' alt="card1" class="w-10 object-contain" />
        <img src='https://readymadeui.com/images/visa.webp' alt="card2" class="w-10 object-contain" />
        <img src='https://readymadeui.com/images/american-express.webp' alt="card3" class="w-10 object-contain" />
      </div>
    </div>
  </div>
</div>
<!-- Old Cart Style -->

{%else%}
<h2 class="text-xl font-bold col-span-full text-primary text-center">Your bag is empty</h2>
{%endif%}
<script>
  // Select the elements
  const amountInput = document.getElementById('amountInput');
  const increaseButton = document.getElementById('increaseButton');
  const decreaseButton = document.getElementById('decreaseButton');

  // Increase the value
  increaseButton.addEventListener('click', () => {
    amountInput.value = parseInt(amountInput.value) + 1;
  });

  // Decrease the value and prevent going below 0
  decreaseButton.addEventListener('click', () => {
    amountInput.value = Math.max(0, parseInt(amountInput.value) - 1);
  });
</script>
{%endblock%}