{%load static%}
<script src="https://unpkg.com/@tailwindcss/browser@4"></script>
<form action="">
<div class="btn-grp m-0">
    <input type="radio" id="size_button-1" name="button_value" value="1" class=" opacity-0 " />
    <label for="size_button-1" class="cursor-pointer flex h-12 peer-checked:border-gray-900 items-center justify-center bg-white rounded-xl duration-100 border-gray-200 border-2 hover:border-gray-900 ">1</label>
    </div>
<div class="btn-grp m-0">
    <input type="radio" id="size_button-2" name="button_value" value="2" class=" hidden " />
    <label for="size_button-2" class="cursor-pointer flex h-12 items-center justify-center bg-white rounded-xl duration-100 border-gray-200 border-2 ">2</label>
    </div>
    

</form>