{%load static%}
<script src="https://unpkg.com/@tailwindcss/browser@4"></script>
<div class="container mx-auto mt-10">
    <div class="sm:flex my-10">
      <div class="  w-full  sm:w-3/4 bg-white px-10 py-10">
        <div class="flex justify-between border-b pb-8">
          <h1 class="font-semibold text-2xl">Shopping Cart</h1>
          <!-- Total items count -->
          <h2 class="font-semibold text-2xl">{{cart_items.count|format_item_count}}</h2>
        </div>
        {%for item in cart_items%}
        <div class="md:flex items-strech py-8 md:py-10 lg:py-8 border-t border-gray-50">
          <div class="md:w-4/12 2xl:w-1/4 w-full">
            <img src="{{item.item.product.productimage_set.first.image.url}}" alt="Black Leather Purse"
              class="h-full object-center object-cover md:block hidden" />
            <img src="{{item.item.product.productimage_set.first.image.url}}" alt="Black Leather Purse"
              class="md:hidden w-full h-full object-center object-cover" />
          </div>
          <div class="md:pl-3 md:w-8/12 2xl:w-3/4 flex flex-col justify-center">
            <div class="flex items-center justify-between w-full m-0">
              <a href="{% url 'product_detail' item.item.product.id %}"
                class="text-base font-black leading-none text-gray-800">{{item.item.product.name}}</a>
            </div>
            <p class="text-xs leading-3 text-gray-600 pt-2">Size: {{item.size}}</p>
            {%for varient in item.item.product.variants.all%}
            <p class="text-xs leading-3 text-gray-600 py-4">Color: {{varient.color}}</p>
            {%endfor%}
            <p class="w-96 text-xs leading-3 text-gray-600">Composition: 100% calf leather</p>
            <div class="flex items-center justify-between pt-5">
              <div class="flex itemms-center">
                <a href="" class="  font-medium rounded-lg text-sm inline-flex items-center pr-1 py-2.5 text-center"><svg
                    aria-hidden="true" focusable="false" viewBox="0 0 24 24" role="img" width="24px" height="24px"
                    fill="none">
                    <path stroke="currentColor" stroke-width="1.5"
                      d="M16.794 3.75c1.324 0 2.568.516 3.504 1.451a4.96 4.96 0 010 7.008L12 20.508l-8.299-8.299a4.96 4.96 0 010-7.007A4.923 4.923 0 017.205 3.75c1.324 0 2.568.516 3.504 1.451l.76.76.531.531.53-.531.76-.76a4.926 4.926 0 013.504-1.451">
                    </path>
                    <title>Favorite</title>
                  </svg></a>
                <a href="{%url 'remove-from-cart' item.item.product.id item.id %}"
                  class="text-white dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"><svg
                    xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256">
                    <g fill="#000000" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                      stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                      font-family="none" font-weight="none" font-size="none" text-anchor="none"
                      style="mix-blend-mode: normal">
                      <g transform="scale(8.53333,8.53333)">
                        <path
                          d="M14.98438,2.48633c-0.55152,0.00862 -0.99193,0.46214 -0.98437,1.01367v0.5h-5.5c-0.26757,-0.00363 -0.52543,0.10012 -0.71593,0.28805c-0.1905,0.18793 -0.29774,0.44436 -0.29774,0.71195h-1.48633c-0.36064,-0.0051 -0.69608,0.18438 -0.87789,0.49587c-0.18181,0.3115 -0.18181,0.69676 0,1.00825c0.18181,0.3115 0.51725,0.50097 0.87789,0.49587h18c0.36064,0.0051 0.69608,-0.18438 0.87789,-0.49587c0.18181,-0.3115 0.18181,-0.69676 0,-1.00825c-0.18181,-0.3115 -0.51725,-0.50097 -0.87789,-0.49587h-1.48633c0,-0.26759 -0.10724,-0.52403 -0.29774,-0.71195c-0.1905,-0.18793 -0.44836,-0.29168 -0.71593,-0.28805h-5.5v-0.5c0.0037,-0.2703 -0.10218,-0.53059 -0.29351,-0.72155c-0.19133,-0.19097 -0.45182,-0.29634 -0.72212,-0.29212zM6,9l1.79297,15.23438c0.118,1.007 0.97037,1.76563 1.98438,1.76563h10.44531c1.014,0 1.86538,-0.75862 1.98438,-1.76562l1.79297,-15.23437z">
                        </path>
                      </g>
                    </g>
                    <title>Remove</title>
                  </svg></a>
  
              </div>
              {% if item.item.product.sale_price %}
              <span class=" text-lg text-secondary font-bold text-green-600">${{item.item.product.sale_price }}</span>
              {% endif %}
              
            </div>
            <form action="" method="POST">
            <div class="w-[250px] max-w-sm relative mt-4">
              <label class="block mb-1 text-sm text-slate-600">Select Quantity</label>
              <div class="relative">
                <button
                  id="decreaseButton"
                  class="absolute right-9 top-1 rounded bg-slate-800 p-1.5 border border-transparent text-center text-sm text-white transition-all shadow-sm hover:shadow focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                  type="button"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                    class="w-4 h-4"
                  >
                    <path d="M3.75 7.25a.75.75 0 0 0 0 1.5h8.5a.75.75 0 0 0 0-1.5h-8.5Z" />
                  </svg>
                </button>
                <input
                  id="amountInput"
                  type="number"
                  value="{{item.quantity}}"
                  class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md pl-3 pr-20 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow appearance-none [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
                />
                <button
                  id="increaseButton"
                  class="absolute right-1 top-1 rounded bg-slate-800 p-1.5 border border-transparent text-center text-sm text-white transition-all shadow-sm hover:shadow focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                  type="button"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                    class="w-4 h-4"
                  >
                    <path
                      d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z"
                    />
                  </svg>
                </button>
              </div>
              <p class="flex items-center mt-2 text-xs text-slate-400">
                Adjust the number using the + and - controls.
              </p>
            </div>
          </div>
        </div>
        {%endfor%}
        <a href="#" class="flex font-semibold text-indigo-600 text-sm mt-10">
          <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512">
            <path
              d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
          </svg>
          Continue Shopping
        </a>
      </div>
      <div id="summary" class=" w-full   sm:w-1/4   md:w-1/2     px-8 py-10">
        <h1 class="font-semibold text-2xl border-b pb-8">Order Summary</h1>
        <div class="bg-gray-50 rounded-xl p-6 w-full mb-8 max-lg:max-w-xl max-lg:mx-auto">
          <div class="flex items-center justify-between w-full mb-6">
            <p class="font-normal text-xl leading-8 text-gray-400">Sub Total</p>
            <h6 class="font-semibold text-xl leading-8 text-gray-900">$360.00</h6>
          </div>
          <div class="flex items-center justify-between w-full pb-6 border-b border-gray-200">
            <p class="font-normal text-xl leading-8 text-gray-400">Delivery Charge</p>
            <h6 class="font-semibold text-xl leading-8 text-gray-900">$45.00</h6>
          </div>
          <div class="flex items-center justify-between w-full py-6">
            <p class="font-manrope font-medium text-2xl leading-9 text-gray-900">Total</p>
            <h6 class="font-manrope font-medium text-2xl leading-9 text-indigo-500">$405.00</h6>
          </div>
        </div>
      </div>
    </div>
  </div>