{%extends 'base.html'%}
{%block title%}Checkout{%endblock%}
{%block content%}
<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
  <div class="text-center max-lg:hidden">
    <h2 class="text-3xl font-bold text-gray-800 inline-block border-b-2 border-gray-800 pb-1">Checkout</h2>
  </div>
  <form action="{%url 'create-order'%}" method="POST" class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    {%csrf_token%}
    <div class="mt-6 sm:mt-8 lg:flex lg:items-start lg:gap-12 xl:gap-16">
      <div class="min-w-0 flex-1 space-y-8">
        <div class="space-y-4">
          <h2 class="text-xl font-semibold text-gray-900 dark:text-white">Delivery Details</h2>

          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <div>
              <label for="your_name" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"> Your name*
              </label>
              <input type="text" id="your_name" name="name"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                placeholder="Enter Full Name" required />
            </div>

            <div>
              <label for="your_email" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"> Your email*
              </label>
              <input type="email" id="your_email" name="email"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                placeholder="Enter Receiver Email" required />
            </div>



            <div>
              <label for="select-city-input-3" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
                District* </label>
              <input type="text" id="your_name" name="district"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                placeholder="Enter Delivery District" required />
            </div>


            <div>
              <label for="select-city-input-3" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
                City* </label>
              <input type="text" id="your_name" name="city"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                placeholder="Enter Delivery City" required />
            </div>



            <div>
              <label for="number" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"> Phone Number*
              </label>
              <input type="number" id="number" name="number"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                placeholder="Enter Receiver Phone Number" required />
            </div>
          </div>
        </div>

       

        
      </div>

      <div class="mt-6 w-full space-y-6 sm:mt-8 lg:mt-0 lg:max-w-xs xl:max-w-md">
        
        <div class="flow-root">
          <h5 class="text-xl font-semibold text-gray-900 dark:text-white">Order Summary</h5>
          <div >
            <!-- Product 1 -->
            {%for item in items%}
            <div class="order-items flex items-center justify-between p-6 gap-5">
              <div class="item-image w-30">
                <img src="{{item.item.product.productimage_set.first.image.url}}"  alt="">
              </div>
              <div class="item-details">
                <h5>{{item.item.product.name}}</h5>
                <p class="text-gray-400">Size: {{item.size}}</p>
                <p class="text-gray-400">Color: {{item.item.color}}</p>
                <p class="text-gray-400">Qty: {{item.quantity}} @ {{item.item.product.get_price}}</p>
                <p class="text-gray-400">${{item.get_item_price}}</p>
              </div>
            </div>
            {%endfor%}
          </div>
        </div>
        <div class="flow-root">
          <div class="-my-3 divide-y divide-gray-200 dark:divide-gray-800">
            <dl class="flex items-center justify-between gap-4 py-3">
              <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Subtotal</dt>
              <dd class="text-base font-medium text-gray-900 dark:text-white">${{cart.get_total_price}}</dd>
            </dl>

            <dl class="flex items-center justify-between gap-4 py-3">
              <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Savings</dt>
              <dd class="text-base font-medium text-green-500">0</dd>
            </dl>

            <dl class="flex items-center justify-between gap-4 py-3">
              <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Store Pickup</dt>
              <dd class="text-base font-medium text-gray-900 dark:text-white">$99</dd>
            </dl>

            <dl class="flex items-center justify-between gap-4 py-3">
              <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Tax</dt>
              <dd class="text-base font-medium text-gray-900 dark:text-white">$199</dd>
            </dl>

            <dl class="flex items-center justify-between gap-4 py-3">
              <dt class="text-base font-bold text-gray-900 dark:text-white">Total</dt>
              <dd class="text-base font-bold text-gray-900 dark:text-white">$8,392.00</dd>
            </dl>
          </div>
        </div>
        <button type="submit" class="flex w-full text-sm px-4 py-2.5 font-semibold items-center justify-center rounded-md bg-black text-white duration-100 bg-black hover:bg-gray-700">Pay</button>
      </div>
  </form>
</section>

{%endblock%}