{%extends 'base.html'%}
{%load custom_filters%}
{%block title%}Order Summary{%endblock%}

{%block content%}
<section class="py-24 relative">
    <div class="w-full max-w-7xl px-4 md:px-5 lg-6 mx-auto">

        <h2 class="font-manrope font-bold text-3xl sm:text-4xl leading-10 text-black mb-11">
            Your Order has been Confirmed.
        </h2>
        <h6 class="font-medium text-xl leading-8 text-black mb-3">Hello, {{request.user.full_name}}</h6>
        <p class="font-normal text-lg leading-8 text-gray-500 mb-11">Your order has been completed and be
            delivered on 5-7 days .</p>
            <hr>
            <div class="flex gap-4 columns-2">
                <!-- Billing Details and payment details-->
                <div class="billing-details flex flex-row gap-4 mt-5 w-1/2 columns-2">
                    <div class="flex gap-2 flex-col w-1/2">
                        <div class="heading mb-3 font-sans text-xl font-semibold">
                            <h1>Shipping and Billing Info</h1>
                        </div>
                        <div class="flex flex-col gap-2 my-3">
                            <span class="text-gray-400">Name</span>
                            <span class="text-gray-800 font-semibold">{{order.shipping_address.name}}</span>
                        </div>
                        <div class="flex flex-col gap-2 my-3">
                            <span class="text-gray-400">Email Address</span>
                            <span class="text-gray-800 font-semibold">{{order.shipping_address.email}}</span>
                        </div>
                        <div class="flex flex-col gap-2 my-3">
                            <span class="text-gray-400">Phone Number</span>
                            <span class="text-gray-800 font-semibold">{{order.shipping_address.phone}}</span>
                        </div>
                        <div class="flex flex-col gap-2 my-3">
                            <span class="text-gray-400">Shipping Address</span>
                            <span class="text-gray-800 font-semibold">{{order.shipping_address.city}}, {{order.shipping_address.district}}</span>
                        </div>
                    </div>
                    <div class="flex gap-2 flex-col w-1/2">
                        <div class="flex gap-2 flex-col w-full">
                            <div class="heading mb-3 font-sans text-xl font-semibold ">
                                <h3>Payment Method</h3>
                            </div>
                            <div class="flex flex-col gap-2 my-3">
                                <span class="text-gray-400">Payment</span>
                                <span class="text-gray-800 font-semibold">{{order.payment_method}}</span>
                            </div>
                        </div>
                        <div class="flex gap-2 flex-col my-3">
                            <div class="heading mb-3 font-sans text-xl font-semibold ">
                                <h3>Shipping Method</h3>
                            </div>
                            <div class="flex flex-col gap-2">
                                <span class="text-gray-400">Shipping</span>
                                <span class="text-gray-800 font-semibold">5-7 Days</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Order Items -->
                <div class="order-items w-1/2 mt-5 flex flex-col gap-2">
                    <div class="heading font-sans text-xl font-semibold">
                        <h1>Items on your order</h1>
                    </div>
                    {%for item in order.items.all%}
                    <div class="flex flex-col lg:flex-row items-center py-6 border-b border-gray-200 gap-6 w-full">
                        <div class="img-box max-lg:w-full">
                            <img src="{{item.item.product.productimage_set.all.first.image.url}}" alt="{{item.item.product.name}}"
                                class="aspect-square w-full lg:max-w-[140px] rounded-xl object-cover">
                        </div>
                        <div class="flex flex-row items-center w-full ">
                            <div class="grid grid-cols-1 lg:grid-cols-2 w-full">
                                <div class="flex items-center">
                                    <div class="">
                                        <h2 class="font-semibold text-l leading-8 text-black mb-3">
                                            {{item.item.product.name}}</h2>
                                        <div class="flex items-center ">
                                            <p
                                                class="font-medium text-l leading-7 text-black pr-4 mr-4  text-nowrap">
                                                Size: <span class="text-gray-500">{{item.size}}</span></p>
                                            
                                        </div>
                                        <p class="font-medium text-base leading-7 text-black ">Qty: <span
                                            class="text-gray-500">{{item.quantity}}</span></p>
                                    </div>
        
                                </div>
                                <div class="grid grid-cols-5">
                                    <div class="col-span-5 lg:col-span-1 flex max-lg:mt-3">
                                       
                                            <p class="lg:mt-0 font-semibold text-m leading-7 text-gray-500">${{item.item.product.get_price}}</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
            <hr>
        <!-- <div class="grid grid-cols-7 w-full pb-6 border-b border-gray-100">
            <div class="col-span-7 min-[500px]:col-span-2 md:col-span-1">
                <img src="{{item.item.product.productimage_set.all.first.image.url}}" alt="Skin Care Kit image"
                    class="w-full rounded-xl object-cover">
            </div>
            <div
                class="col-span-7 min-[500px]:col-span-5 md:col-span-6 min-[500px]:pl-5 max-sm:mt-5 flex flex-col justify-center">
                <div class="flex flex-col min-[500px]:flex-row min-[500px]:items-center justify-between">
                    <div class="">
                        <h5 class="font-manrope font-semibold text-2xl leading-9 text-black mb-6">
                            {{item.item.product.name}}
                        </h5>
                        <p class="font-normal text-xl leading-8 text-gray-500">Quantity : <span
                                class="text-black font-semibold">{{item.quantity}}</span></p>
                    </div>

                    <h5 class="font-manrope font-semibold text-3xl leading-10 text-black sm:text-right mt-3">
                        ${{item.item.product.get_price}}
                    </h5>
                </div>
            </div>
        </div> -->
        


        <div class="flex items-center justify-center sm:justify-end w-full my-6">
            <div class=" w-full">
                <div class="flex items-center justify-between mb-6">
                    <p class="font-normal text-xl leading-8 text-gray-500">Subtotal</p>
                    <p class="font-semibold text-xl leading-8 text-gray-900">${{order.get_ordertotal_price}}</p>
                </div>
                <div class="flex items-center justify-between mb-6">
                    <p class="font-normal text-xl leading-8 text-gray-500">Shipping Charge</p>
                    <p class="font-semibold text-xl leading-8 text-gray-900">$1.25</p>
                </div>
                <div class="flex items-center justify-between mb-6">
                    <p class="font-normal text-xl leading-8 text-gray-500">Taxes</p>
                    <p class="font-semibold text-xl leading-8 text-gray-900">$10.00</p>
                </div>
                <div class="flex items-center justify-between mb-6">
                    <p class="font-normal text-xl leading-8 text-gray-500">Discount</p>
                    <p class="font-semibold text-xl leading-8 text-gray-900">$0.00</p>
                </div>
                <div class="flex items-center justify-between py-6 border-y border-gray-100">
                    <p class="font-manrope font-semibold text-2xl leading-9 text-gray-900">Total</p>
                    <p class="font-manrope font-bold text-2xl leading-9 text-indigo-600">
                        ${{order.get_total_price_with_charges}}</p>
                </div>

            </div>

        </div>
        <div class="data ">
            <p class="font-normal text-lg leading-8 text-gray-500 mb-11">We'll be sending a shipping
                confirmation email when the items shipped successfully.</p>
            <h6 class="font-manrope font-bold text-2xl leading-9 text-black mb-3">Thank you for shopping
                with us!</h6>
        </div>
    </div>
</section>


{%endblock%}